@import "../../comm/mixin";

.batch-list{
  padding: 0 22px 30px;
  .batch-table{
    width: 100%;
    font-family: "Microsoft YaHei UI";
    font-size: 14px;
    color: #333333;
    border-collapse: collapse;
    thead tr th{
      height: 42px;
      background-color: #f4f4f4;
    }
    tbody tr td{
      padding: 0 18px;
      height: 42px;
      text-align: center;
    }
    tbody tr{
      border-bottom: 1px solid #dadada;
    }
    tbody tr:hover {
      background-color: rgba(107, 110, 114, 0.1);
    }
    .td-w0{
      width: 19px;
      padding-left: 18px;
      padding-right: 17px;
    }
    .td-w1{
      width: 160px;
    }
    .td-color{
      color: #239510;
    }
    .both{
      background-color: #f8f8f8;
    }
  }
}
